html {
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
}

nav {
  &.lang-changer {
    ul {
      list-style: none;

      li {
        span {
          cursor: pointer;
          margin: 0 0.5rem;
          padding: 0.5rem 1rem;
          display: inline-block;
          border: 1px solid gray;
          border-radius: 0.3rem;

          &:hover {
            background-color: rgba(gray, 0.2);
          }
        }
      }
    }
  }
}
